# A5 CV matmul buffer skeleton. Fill every {{...}} from DESIGN.md and verify
# against the target SDK's official matmul/Acc-to-Vector samples.

@pl.jit(auto_mutex=True, arch="a5", tiling_key={{TILING_KEY}})
def {{KERNEL}}({{PARAMETERS}}):
    direct_group = pl.make_tile_group(
        type=pl.TileType(
            shape=[{{VEC_ROWS}}, {{VEC_COLS}}],
            dtype=pl.DT_INT32,
            target_memory=pl.MemorySpace.Vec,
            valid_shape=[-1, -1],
            compact=1,
        ),
        addrs={{DIRECT_ADDR}},
        mutex_ids=[{{DIRECT_MUTEX}}],
    )

    with pl.section_cube():
        a_l1_group = pl.make_tile_group(
            type={{A_L1_TILE_TYPE}}, addrs={{A_L1_ADDR}},
            mutex_ids=[{{A_L1_MUTEX_0}}, {{A_L1_MUTEX_1}},
                       {{A_L1_MUTEX_2}}, {{A_L1_MUTEX_3}}],
        )
        b_l1_group = pl.make_tile_group(
            type={{B_L1_TILE_TYPE}}, addrs={{B_L1_ADDR}},
            mutex_ids=[{{B_L1_MUTEX_0}}, {{B_L1_MUTEX_1}},
                       {{B_L1_MUTEX_2}}, {{B_L1_MUTEX_3}}],
        )
        a_l0_group = pl.make_tile_group(
            type={{A_L0_TILE_TYPE}}, addrs={{A_L0_ADDR}},
            mutex_ids=[{{A_L0_MUTEX_0}}, {{A_L0_MUTEX_1}}],
        )
        b_l0_group = pl.make_tile_group(
            type={{B_L0_TILE_TYPE}}, addrs={{B_L0_ADDR}},
            mutex_ids=[{{B_L0_MUTEX_0}}, {{B_L0_MUTEX_1}}],
        )
        acc_group = pl.make_tile_group(
            type={{ACC_TILE_TYPE}}, addrs={{ACC_ADDR}},
            mutex_ids=[{{ACC_MUTEX}}],
        )

        for {{TASK}} in pl.range({{CORE_ID}}, {{TOTAL_TILES}}, {{CORE_COUNT}}):
            acc = acc_group.current()
            pl.set_validshape(acc, [{{PHYSICAL_TM}}, {{SELECTED_TILE_N}}])
            for {{K1_INDEX}} in pl.range(0, {{K1_TILES}}):
                a_l1 = a_l1_group.next()
                b_l1 = b_l1_group.next()
                {{LOAD_L1_WITH_REAL_TAILS}}
                for {{K0_INDEX}} in pl.range(0, {{INNER_K0_TILES}}):
                    a_l0 = a_l0_group.next()
                    b_l0 = b_l0_group.next()
                    {{MOVE_L1_TO_L0_WITH_REAL_TAILS}}
                    {{PHASE_FREE_MATMUL_OR_MATMUL_ACC}}

            {{WAIT_BOTH_VECTOR_FREE_CREDITS}}
            {{M_TO_FIX_COMPATIBILITY_DEPENDENCY}}
            direct = direct_group.current()
            pl.move(direct, acc, acc_to_vec_mode={{PROVEN_SPLIT_MODE}})
            {{SET_BOTH_VECTOR_READY_CREDITS}}

        {{DRAIN_BOTH_VECTOR_FREE_CREDITS}}

    with pl.section_vector():
        {{PRIME_FREE_CREDIT}}
        for {{TASK}} in pl.range({{VECTOR_CORE_ID}}, {{TOTAL_TILES}}, {{CORE_COUNT}}):
            {{WAIT_READY_CREDIT}}
            direct = direct_group.current()
            {{VF_EPILOGUE_AND_VALID_STORE}}
            {{RETURN_MTE3_FREE_CREDIT_AFTER_CONDITIONAL_OUTPUT_STORE}}
